<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr>
                <p class="text-faded">
                    Our goal is to create a smarter and safer world by enhancing the connection between software-driven products and our physical environment. Xronos specializes in design automation for cyber-physical systems that are software-defined, data-driven, and enhanced with AI. We make it easier and faster to build capable and reliable software for cars, robots, electric grids, factory floors, and space tech—anything that runs complex software and interacts with physics.
                </p>
                <p class="text-faded">
                    We eliminate the overwhelming complexity that arises when software-defined, data-driven, and AI-enabled systems interact with the physical world. Ad-hoc system integration strategies result in solutions that are fragile, poorly modularized, and unsuitable for use in critical safety environments. We believe the only way to scale software-defined systems is to overcome these challenges through design automation, clear abstractions, and separation of concerns.
                </p>
                <p class="text-faded">
                    Our technology separates application logic from coordination logic, allowing software engineers to focus on their application, instead of tracking down subtle concurrency bugs, manually implementing parallel or distributed programs, or endlessly hacking their code to meet real-time requirements. Instead, we automate the coordination between software components, following a well-defined model of computation that is deterministic, free of deadlocks and race conditions, and enables the detection and handling of missed deadlines. Xronos makes it easier and faster to develop, test, and validate code, build new systems out of existing components, and derive meaningful and transferrable value from simulation.
                </p>

                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
