<aside class="bg-dark" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Team</h2>
                <hr>
            </div>
        </div>
    </div>
</aside>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/lohstroh.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Marten Lohstroh
                            </div>
                            <div class="project-name">
                                Co-founder & Chief Executive Officer
                            </div>
                            <div class="project-bio"><p></p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/menard.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Christian Menard
                            </div>
                            <div class="project-name">
                                Co-founder & Principal Architect
                            </div>
                            <div class="project-bio">
                                <p>
                                    Christian is a PhD candidate from TU Dresden in Germany and has been
                                    contributing to the Lingua Franca project since its early stages. He is
                                    an experienced compiler and embedded systems engineer with a strong
                                    focus on clean abstractions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/jensen.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Jeff C. Jensen
                            </div>
                            <div class="project-name">
                                Co-founder & Head of Engineering
                            </div>
                            <div class="project-bio">
                                <p>
                                    Jeff C. Jensen is a technology leader and electrical engineer with 20 years experience developing hardware & software products. He ran product innovation in mechatronics at National Instruments, then served as VP Engineering at the robotics startup Creator, building the world's first fully automated commercial kitchen. As CTO at Blackrock Neurotech he led technology vision, strategy and execution of a team of over 100 scientists, engineers and technicians building the world's only in-human implantable brain-computer interfaces. He is Head of Engineering at Xronos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/lee.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Edward A. Lee
                            </div>
                            <div class="project-name">
                                Co-founder & Chief Scientist
                            </div>
                            <div class="project-bio">
                                <p>
                                    Edward A. Lee has been working on embedded software systems for more than 40 years. After studying and working at Yale, MIT, and Bell Labs, he landed at Berkeley, where he is now Professor of the Graduate School in EECS. His research is focused on cyber-physical systems. He is a founder of the open-source software projects Lingua Franca and Ptolemy and is a coauthor of textbooks on embedded systems, signals and systems, digital communications, and philosophical and social implications of technology. His current research is focused on the Lingua Franca polyglot coordination language for distributed real-time systems  that combines features of discrete-event modeling, synchronous languages, and actors.  He is co-founder of BDTI, Inc. and Xronos Inc. and has received numerous awards.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/castrillon.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Jeronimo Castrillon
                            </div>
                            <div class="project-name">
                                Co-founder & Advisor
                            </div>
                            <div class="project-bio"><p></p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/jellum.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Erling Jellum
                            </div>
                            <div class="project-name">

                            </div>
                            <div class="project-bio"><p>Erling is an embedded software engineer experienced in developing time-sensitive hardware and software. He is a co-founder of SentiSystems and has a PhD from NTNU in Norway. Erling has been working on Lingua Franca since 2022.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="portfolio-box">
                    <img src="img/people/donovan.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-topspace"></div>
                            <div class="project-category text-faded">
                                Peter Donovan
                            </div>
                            <div class="project-name">
                                Software Engineer
                            </div>
                            <div class="project-bio"><p>Peter is a junior software engineer. He studied computer science at UC Berkeley and has been working on Lingua Franca since 2021.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
